<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">
<head>
<th:block layout:fragment="css">
</th:block>
<meta charset="UTF-8">
</head>

<div layout:fragment="content">
<div style="padding-left:10px;"></div>
	<div class="row">
		<!-- 볼륨 -->
		<div class="col-lg-4" >
			<h5>거래량 순위</h5>
			<div id="volDiv"></div>
		</div>
		
		<!-- oi  -->
		<div class="col-lg-4">
			<h5>oi 순위</h5>
			<div id="oiDiv"></div>
		</div>
		
		<!-- 코인정보 -->
		<div class="col-lg-4">
			<div id="infoDiv"></div>
		</div>
	</div>
</div>

<th:block layout:fragment="script">
<script>
window.onload = function(){
	getTicker()
}
function getInfo(ele){
	var symbol =  $(ele).text().replace('USDT', '').toLowerCase();
	console.log(symbol);
	$.ajax({
		url : "/gecko",
		dataType : "json",
		data : {"symbol" : symbol.replace(/\d+/g, '').toLowerCase()},
		success : function(data){
			console.log(data)
			infoTable(data)
		}
	})
}

function infoTable(data){
	if(data.error == null){
	disp = `<div class='card mb-3'>`;
	disp += `<h3 class='card-header'>코인 정보</h3>`;
	disp += `<ul class='list-group list-group-flush'>`;
	disp += `<li class='list-group-item'> 심볼 :  ${data.symbol} </li>`;
	disp += `<li class='list-group-item'> 시총 :  ${data.marketCap}원 </li>`;
	disp += `</div>`
	disp += `<div class='card'>`;
	disp += `<div class='card-body'>`;
	disp += `<h4 class='card-title'>설명(메타)</h4>`;
	disp += `<h6 class='card-subtitle mb-2 text-muted'></h6>`
	data.meta.forEach(function(item){
		disp += `<p class='card-text'>${item}</p>`;
	});
	disp += `</div>`    
	disp += `</div>`    
		$("#infoDiv").html(disp);
	}else{
		disp= "<h2>코인정보 없음</h2>"
			$("#infoDiv").html(disp);
	}
	
			
}
function getTicker(){
	
	$.ajax({
		url : "/getTicker",
		dataType : "json",
		success : function(data){
			tickerTable(data);
		}
	})
}

function tickerTable(data){
    // Map 데이터를 출력
    $.each(data, function (key, list) {
    	disp = "";
    	disp += "<table class='table table-hover'>";
    	disp += "<thead>";
    	disp += "<tr class='table-dark'>";
    	disp += "<th scope='col'></th>";
    	disp += "<th scope='col'>심볼</th>";
    	disp += "<th scope='col'>%</th>";
    	disp += "</tr></thead>";
    	disp += "<tbody>";
        $.each(list, function (index, item) {
        	disp += "<tr class='table-primary'>";
        	disp += "<td>" + (Number(index)+1) + "</td>";
        	disp += "<td><a href='#' onclick='getInfo(this)'>" + item.symbol + "</a></td>";
        	disp += "<td>" + item.percent + "</td>";
        	disp += "</tr>";
        });
    	disp += "</tbody></table>";
    	
        // List 데이터를 출력
        if(key == "volumeTickerList"){
        	$("#volDiv").html(disp);
        }else{
        	$("#oiDiv").html(disp);
        }
    });
}
</script>
</th:block>

</html>
